# My First R Notebook

In [2]:
# Creation of Varibles 

a= 10 
b<-20
30 -> c

# Above all declaration carry the same meaning

In [3]:
# Printing the above values
a
b
c

[1] 10

[1] 20

[1] 30

In [4]:
n = 15
n

[1] 15

In [5]:
n=5
n

[1] 5

In [6]:
x=1
X=10
x
X

[1] 1

[1] 10

In [7]:
n=10+2
n

[1] 12

In [8]:
n=3+rnorm(1)
n

[1] 3.796049

The Function rnorm(1) generates a normal random variable with mean zero and variance unity.

In [9]:
(10+2)*5

[1] 60

WE can also use this as a simple calculator, but the valuw cannot be stored in memory

In [10]:
name = "Praveen"; n1=10;n2=100;m=0.5
ls()

 [1] "a"    "b"    "c"    "m"    "n"    "n1"   "n2"   "name" "x"    "X"

The function ls() shows all the available variables in the session

Semi-Colon is used to seperate between commands in a single line

In [12]:
ls(pat = "m")

[1] "m"    "name"

pat(), is a function used to filter the output, eg filtering the variable which has the letter m in it (in the above code)

In [13]:
ls(pat="^m")

[1] "m"

The exponent symbol here represents the names of variable starting from "m"

In [15]:
ls.str()

a :  num 10
b :  num 20
c :  num 30
m :  num 0.5
n :  num 3.8
n1 :  num 10
n2 :  num 100
name :  chr "Carmen"
x :  num 1
X :  num 10

ls.str() gives some extra info on the variables

ls.str() shows all the details including the type of the variable, the value stores in it, Rows and columns

In [16]:
help(lm)

The above command gives us online help on the functions provided inside the braces

This can also be written as, ?lm, help("lm"), help(lm)

In [18]:
x=1
A="Praveen"
Compar=TRUE
z=1i
mode(x)
mode(A)
mode(Compar)
mode(z)

[1] "numeric"

[1] "character"

[1] "logical"

[1] "complex"

mode() function represents the data type of the particular variable

In [19]:
length(A)

[1] 1

R does not count the characters in a string but repsents it as a whole

In [20]:
N=2.1e23
N

[1] 2.1e+23

Here, e represents, 2.1*10^23

In [21]:
x=5/0
x

[1] Inf

In [22]:
exp(x)
exp(-x)
x-x

[1] Inf

[1] 0

[1] NaN

NA - Not Available
NaN - Not a Number
Inf - Positive Infinity
-Inf - Negative Infinity

In [25]:
x="Doube Quotes \" de-eliminate R's Strings"
x
cat(x)

[1] "Doube Quotes \" de-eliminate R's Strings"

Doube Quotes " de-eliminate R's Strings

Use \ when you need to add a Quotes symbol inside a string

Vectors - can be represented in numeric, character, complex or logical and the modes of the data types must be the same