In [ ]:
## Importing packages

# This R environment comes with all of CRAN and many other helpful packages preinstalled.
# You can see which packages are installed by checking out the kaggle/rstats docker image: 
# https://github.com/kaggle/docker-rstats

library(tidyverse) # metapackage with lots of helpful functions

## Running code

# In a notebook, you can run a single code cell by clicking in the cell and then hitting 
# the blue arrow to the left, or by clicking in the cell and pressing Shift+Enter. In a script, 
# you can run code by highlighting the code you want to run and then clicking the blue arrow
# at the bottom of this window.

## Reading in files

# You can access files from datasets you've added to this kernel in the "../input/" directory.
# You can see the files added to this kernel by running the code below. 

list.files(path = "../input")

## Saving data

# If you save any files or images, these will be put in the "output" directory. You 
# can see the output directory by committing and running your kernel (using the 
# Commit & Run button) and then checking out the compiled version of your kernel.

In [1]:
x = c(5,6,7,3,4,5,9,8,0)
x

[1] 5 6 7 3 4 5 9 8 0

In [2]:
#Sorting the Above Vector
sort(x)

[1] 0 3 4 5 5 6 7 8 9

In [5]:
#Sorting in Descending Order
sort(x, decreasing=TRUE)
#But the Original vector remains the Same!
x

[1] 9 8 7 6 5 5 4 3 0

[1] 5 6 7 3 4 5 9 8 0

In [10]:
#If you want to update the original Vector:
x = c(5,6,7,3,4,5,9,8,0)
x
x = sort(x)
x

[1] 5 6 7 3 4 5 9 8 0

[1] 0 3 4 5 5 6 7 8 9

In [11]:
#mtcars Dataset
#To print the first 6 rows in a dataset
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [12]:
#To print the specific number of rows using head() function
head(mtcars,8)

                  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360        14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D         24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2

In [13]:
#To print the last few rows in the dataset(6 to be precise)
tail(mtcars)

               mpg  cyl disp  hp  drat wt    qsec vs am gear carb
Porsche 914-2  26.0 4   120.3  91 4.43 2.140 16.7 0  1  5    2
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.9 1  1  5    2
Ford Pantera L 15.8 8   351.0 264 4.22 3.170 14.5 0  1  5    4
Ferrari Dino   19.7 6   145.0 175 3.62 2.770 15.5 0  1  5    6
Maserati Bora  15.0 8   301.0 335 3.54 3.570 14.6 0  1  5    8
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.6 1  1  4    2

In [14]:
class(mtcars)

[1] "data.frame"

In [15]:
#Prints the structure of the Data Frame
str(mtcars)

'data.frame':	32 obs. of  11 variables:
 $ mpg : num  21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num  6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num  160 160 108 258 360 ...
 $ hp  : num  110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num  3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num  2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num  16.5 17 18.6 19.4 17 ...
 $ vs  : num  0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num  1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num  4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num  4 4 1 1 2 1 4 2 2 4 ...

In [16]:
#prints the summary of the dateset
summary(mtcars)

      mpg             cyl             disp             hp
 Min.   :10.40   Min.   :4.000   Min.   : 71.1   Min.   : 52.0
 1st Qu.:15.43   1st Qu.:4.000   1st Qu.:120.8   1st Qu.: 96.5
 Median :19.20   Median :6.000   Median :196.3   Median :123.0
 Mean   :20.09   Mean   :6.188   Mean   :230.7   Mean   :146.7
 3rd Qu.:22.80   3rd Qu.:8.000   3rd Qu.:326.0   3rd Qu.:180.0
 Max.   :33.90   Max.   :8.000   Max.   :472.0   Max.   :335.0
      drat             wt             qsec             vs
 Min.   :2.760   Min.   :1.513   Min.   :14.50   Min.   :0.0000
 1st Qu.:3.080   1st Qu.:2.581   1st Qu.:16.89   1st Qu.:0.0000
 Median :3.695   Median :3.325   Median :17.71   Median :0.0000
 Mean   :3.597   Mean   :3.217   Mean   :17.85   Mean   :0.4375
 3rd Qu.:3.920   3rd Qu.:3.610   3rd Qu.:18.90   3rd Qu.:1.0000
 Max.   :4.930   Max.   :5.424   Max.   :22.90   Max.   :1.0000
       am              gear            carb
 Min.   :0.0000   Min.   :3.000   Min.   :1.000
 1st Qu.:0.0000   1st Qu.:3.000   1st Qu.:2.000
 Median :0.0000   Median :4.000   Median :2.000
 Mean   :0.4062   Mean   :3.688   Mean   :2.812
 3rd Qu.:1.0000   3rd Qu.:4.000   3rd Qu.:4.000
 Max.   :1.0000   Max.   :5.000   Max.   :8.000

In [17]:
#Make a cpoy of mtcars dataset
mtc = head(mtcars)
mtc

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [18]:
#Print first row of the dataframe
mtc[1,]

          mpg cyl disp hp  drat wt   qsec  vs am gear carb
Mazda RX4 21  6   160  110 3.9  2.62 16.46 0  1  4    4

In [19]:
#Prints the 5th row 
mtc[5,]

                  mpg  cyl disp hp  drat wt   qsec  vs am gear carb
Hornet Sportabout 18.7 8   360  175 3.15 3.44 17.02 0  0  3    2

In [20]:
#Selecting column from a data frame
mtc[,2]

[1] 6 6 4 6 8 6

In [21]:
#Selecting column from a data frame
#Method 2
mtc$cyl

[1] 6 6 4 6 8 6

In [22]:
mtc[1:3,]
#Same applies from columns

              mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4     21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710    22.8 4   108   93 3.85 2.320 18.61 1  1  4    1

In [23]:
#Print the rows 1,3,4
mtc[c(1,3,4),]
#Vice versa applies for columns

               mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Datsun 710     22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive 21.4 6   258  110 3.08 3.215 19.44 1  0  3    1

Data Cleaning Exercises

In [27]:
x = c(9:20,1:5,3:7,0:8)
x

 [1]  9 10 11 12 13 14 15 16 17 18 19 20  1  2  3  4  5  3  4  5  6  7  0  1  2
[26]  3  4  5  6  7  8

In [28]:
duplicated(x)

 [1] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[13] FALSE FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE FALSE FALSE FALSE  TRUE
[25]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE FALSE

In [30]:
duplicated(x,fromLast=TRUE)

 [1] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[13]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE FALSE FALSE
[25] FALSE FALSE FALSE FALSE FALSE FALSE FALSE

In [35]:
xu=unique(x)
xu

 [1]  9 10 11 12 13 14 15 16 17 18 19 20  1  2  3  4  5  6  7  0  8

In [36]:
xd = x[duplicated(x)]
xd

 [1] 3 4 5 1 2 3 4 5 6 7

In [37]:
xd1 = x[duplicated(x,fromLast=TRUE)]
xd1

 [1] 1 2 3 4 5 3 4 5 6 7

In [38]:
xu1 = unique(x, fromLast=TRUE)
xu1

 [1]  9 10 11 12 13 14 15 16 17 18 19 20  0  1  2  3  4  5  6  7  8

In [41]:
match(xd,x)

 [1] 15 16 17 13 14 15 16 17 21 22

In [42]:
match(xu,x)

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 21 22 23 31

In [45]:
length(xu)
length(xd)

[1] 21

[1] 10

In [47]:
a = c(rep("A",3),rep("B",3),rep("C",2))
b = c(1,1,2,4,1,1,2,2)
df= data.frame(a,b)
df

  a b
1 A 1
2 A 1
3 A 2
4 B 4
5 B 1
6 B 1
7 C 2
8 C 2

In [48]:
duplicated(df)

[1] FALSE  TRUE FALSE FALSE FALSE  TRUE FALSE  TRUE

In [56]:
dfd1 = duplicated(df$a)
dfd1
class(dfd1)
dfd2 = duplicated(df$b)
dfd2
class(dfd2)

[1] FALSE  TRUE  TRUE FALSE  TRUE  TRUE FALSE  TRUE

[1] "logical"

[1] FALSE  TRUE FALSE FALSE  TRUE  TRUE  TRUE  TRUE

[1] "logical"

In [69]:
dfu = unique(df)
dfu

  a b
1 A 1
3 A 2
4 B 4
5 B 1
7 C 2

In [68]:
dfd = df[duplicated(df),]
dfd

  a b
2 A 1
6 B 1
8 C 2

In [72]:
nrow(dfd)
nrow(dfu)

[1] 3

[1] 5

In [81]:
which(duplicated(df) | duplicated(df[nrow(df), ])[nrow(df):1])
which(!duplicated(df) | !duplicated(df[nrow(df), ])[1:nrow(df)])

[1] 2 6 8

[1] 1 3 4 5 7